.logo {
  margin-right: 14%;
}

#ul-sobrenosotros {
  width: 700px;
}

.navbar {
  display: flex;

  margin-top: 3%;
  margin-left: 3%;
}

.lista-nav {
  display: flex;
  padding-right: 5%;
}

.opciones-nav {
  display: flex;
  padding-right: 10%;
}

.boton-idioma {
  align-items: center;
  align-content: center;
  position: absolute;
  width: 10rem;
  height: 3rem;
  left: 80%;
  top: 5%;
  color: white;
  background: #333333;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28.5px;
}

.lista-idioma {
  align-items: center;
  align-content: center;
  position: absolute;
  width: 10rem;
  height: 5rem;
  padding-top: 5%;
  padding-bottom: 1.5%;
  bottom: -200%;
  color: white;
  background: #333333;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 28.5px;
}

#texto-idioma-container {
  display: flex;
}

#texto-idioma {
  margin-top: 10%;
  margin-left: 10%;
}

#mundito {
  margin-top: 13%;
}
